body {
    background-color: rgba(110, 109, 167, 0.322);
    color: rgb(250, 11, 242);
}


section {
    background-color: greenyellow;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 30px;
}

img{
    height: 150px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}