body {
    background-color: rgba(51, 50, 156, 0.322);
    color: rgb(186, 125, 184);
}

header{
    font-size: 30px;
}

.chamada{
    background-color: greenyellow;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 30px;
}

h1{
     font-size: 30px;
     color: red;
}

p{
    font-size: 20px;
}

img{
    height: 150px;
}

.categoria{
    padding-left: 50px;
    padding-right: 50px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}